.new_leave_modal-content {
  margin-left: 2em;
}

.new_leave_modal {
  margin: 2em;
}

.new_leave_modal-title mat-icon{
  font-size: 32px;
  color: #3F51B5;
}

.new_leave_modal-actions > button {
  min-width: 140px;
}

.cancel_create-year {
  background-color: #D9D9D9;
}
