<mat-expansion-panel [expanded]="expanded" class="virtual-scrolling" [ngClass]="{'w-paginator' : totalItems>15}">
    <mat-progress-bar mode="indeterminate" [style.display]="progressBarDisplay ? 'block' : 'none'">
    </mat-progress-bar>
    <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <mat-icon class="fa-lg" fxLayout="row" fxLayoutAlign="center center" mat-list-icon fontSet="fa"
                fontIcon="fa-calendar-alt"></mat-icon>
            <span>{{this.title}}</span>
        </mat-panel-title>
        <mat-divider></mat-divider>
    </mat-expansion-panel-header>
    <mat-action-list *ngIf="!progressBarDisplay && items?.length == 0 ">
        <mat-list-item>
            <mat-icon class="fa-lg" fxLayout="row" fxLayoutAlign="center center" mat-list-icon fontSet="fa"
                fontIcon="fa-info-circle"></mat-icon>
            <span matLine>No hay documentos para este período.</span>
        </mat-list-item>
    </mat-action-list>
    <app-cs-paginator class="get-more" *ngIf="(totalItems && items) && totalItems>15" 
        [(pageSize)]="pageSize" 
        [pageCount]="totalItems" 
        [hidePageSizeSelection]="false"
        [optionsPageSize]="[15, 20, 25, 30]"
        [(pageIndex)]="pageIndex" (pageChanged)="selectedPageChanged(false)" (pageSizeChanged)="selectedPageChanged(true)"></app-cs-paginator>
    <mat-action-list class="paginated-list" *ngIf="!progressBarDisplay && items?.length > 0" >
        <app-file-document-inbox-item [item]="item" *ngFor="let item of items" [autoview]="false"
            [showSave]="false" [documentationTypes]="documentationTypes" [showGoEmployee]="false" [showView]="false"
            [showSmallChips]="this.showSmallChips" [active]="activeRow == item.id" [showBadge]="this.showBadge"
            (click)="onOpenDocument(item)">
        </app-file-document-inbox-item>
    </mat-action-list>
</mat-expansion-panel>