@import "../../../../assets/styles/img-management";

.view-content {
  height: calc(100% - 90px);

  app-pdf-wrapper {
    display: block;
    height: 100%;
    background-color: rgb(89, 84, 84) !important;
    padding: 5px !important;
  }
}
