<mat-toolbar color="grey">
    <mat-toolbar-row>
        <div class="toolbar-line" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
            <div class="title" fxLayout="column" fxLayoutAlign="center start">
                <h3>Nuevo nombre para {{data.editValue.description}}</h3>
            </div>
            <button mat-icon-button (click)="cancel()" title="Cerrar">
        <mat-icon class="fa-lg" fontSet="fa" fontIcon="fa-times"></mat-icon>
      </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<form [formGroup]="valueFormGroup">
    <div class="add-menu-form-body">
        <mat-form-field fxLayout="row" fxLayoutAlign="start center" fxFlex="grow">
            <input matInput placeholder="Ingresa el nuevo nombre" formControlName="valueFrmCtrl">
        </mat-form-field>
    </div>
    <div class="add-menu-form-actions">
        <button mat-raised-button color="primary" class="btn" [disabled]="clickOnce || valueFormGroup.invalid" (click)="save()">Aceptar</button>
        <button mat-button (click)="cancel()">Cancelar</button>
    </div>
</form>