<div class="welcome-card" fxLayout="column" fxLayoutAlign="space-between" fxFill>
    <div class="img-container">
        <img src="assets/img/crane.png" alt="" class="main-img mat-elevation-z4">
    </div>
    <div class="text-container">
        <h3 class="main-tittle">Humanage te da la bienvenida</h3>
        <p class="main-text">
            Decile adiós al papel, aquí podrás gestionar y firmar tus documentos importantes.
            Todo digitalmente y de la manera más fácil, para ayudarte todos los días, siempre.
        </p>
        <div class="img-divider mat-primary"></div>

        <div class="main-link">Ayuda: La ayuda en línea explica paso a paso el sistema.
            <a href="{{urlHelp}}" target="blank">Obtenla aquí.</a>
        </div>
    </div>
</div>
