<mat-accordion>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
 <mat-expansion-panel [expanded]="true" style="height: auto;margin: 10px;">

     <mat-expansion-panel-header>
       <mat-panel-title style="font-weight: bold;color: #3f51b5;">
         <mat-icon fontSet="fa" fontIcon="fa-arrow-progress"></mat-icon>
         Configuración del Flujo de Aprobación
       </mat-panel-title>
     </mat-expansion-panel-header>
     <mat-card appearance="outlined" style="margin: 12px;max-width: auto; overflow-x: hidden;" *ngIf="!loading">

      <form [formGroup]="workflowForm" class="leaveRule-form" (ngSubmit)="save()">
       <div class="form-fields-container">
         <mat-form-field appearance="fill">
           <mat-label>Seleccione Flujo de Aprobación</mat-label>
           <mat-select formControlName="workflowApproveType" (selectionChange)="updateWorkflowValue()">
             <mat-option *ngFor="let workflow of workflowApproveType" [value]="workflow['value']">
               {{ workflow['value'] }}
             </mat-option>
           </mat-select>
         </mat-form-field>

         <div class="info-container">
           <mat-icon id="icon-info" class="fa-regular info" fontSet="fa" fontIcon="fa-circle-question" (mouseenter)="toggleInfo()" (mouseleave)="toggleInfo()" style="font-size: 28px;"></mat-icon>
        <div class="info-text" [hidden]="!showWorkflowInfo" style="margin-left: 5px;">
           <p style="white-space:pre-wrap">{{ selectedWorkflowInfo['value'] }}</p>
        </div>
         </div>

       </div>

       <div class="btn-container"  appearance="fill" fxFill fxLayout="row" fxLayoutAlign="end end">
         <button mat-raised-button class="rounded-button" color="primary" [disabled]="!enableSubmitButton" type="submit">
          <span>Guardar</span></button>
       </div>
      </form>
</mat-card>
</mat-expansion-panel>
</mat-accordion>
